@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=ABeeZee&display=swap");
* {
  box-sizing: border-box; }
  * ::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  * ::-webkit-scrollbar-track {
    background: #12181e; }
  * ::-webkit-scrollbar-thumb {
    background: #34837e;
    border-radius: 10px; }
  * ::-webkit-scrollbar-thumb:hover {
    background: #44b1a9; }

.hide {
  display: none; }

body {
  margin: 0;
  background-color: #1e103f;
  background: linear-gradient(90deg, #041c31 0%, #0a3f47 50%, #041c31 100%);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; }
  body .banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 45.83vw; }
    body .banner-container .content-top {
      position: absolute;
      top: 1rem;
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2% 0 5%; }
      body .banner-container .content-top .left-box {
        height: 100%;
        display: flex;
        align-items: center; }
        body .banner-container .content-top .left-box .small-logo {
          height: 80%;
          transition: all ease-in-out .2s;
          cursor: pointer; }
          body .banner-container .content-top .left-box .small-logo:hover {
            transform: scale(1.1); }
        body .banner-container .content-top .left-box .tabs {
          padding-left: 2rem;
          list-style: none;
          display: flex; }
          body .banner-container .content-top .left-box .tabs li {
            margin-right: 1.5rem;
            position: relative;
            cursor: pointer; }
            body .banner-container .content-top .left-box .tabs li span {
              color: #FFF;
              font-family: 'Noto Sans', sans-serif;
              transition: all .3s ease-in-out;
              font-size: 1.2rem; }
            body .banner-container .content-top .left-box .tabs li img {
              width: 0.8rem;
              margin-left: .2rem; }
            body .banner-container .content-top .left-box .tabs li::before {
              content: '';
              height: 3px;
              background: #1fa7c5;
              box-shadow: 0 0 13px 2px rgba(87, 225, 255, 0.3);
              position: absolute;
              bottom: -.6rem;
              border-radius: 3px;
              width: 0;
              transition: all .3s ease-in-out; }
            body .banner-container .content-top .left-box .tabs li:hover::before {
              width: 103%; }
          body .banner-container .content-top .left-box .tabs li.tab-active::before {
            width: 103%; }
      body .banner-container .content-top .right-box img {
        width: 2rem;
        filter: invert(1);
        cursor: pointer;
        transition: all .3s ease-in-out; }
        body .banner-container .content-top .right-box img:hover {
          animation: agitar .5s; }
    body .banner-container .content-top-scroll {
      top: 0;
      padding: 0 10vw;
      position: fixed;
      z-index: 2;
      background: rgba(0, 0, 0, 0.6);
      transition: all .3s ease-in-out; }
      body .banner-container .content-top-scroll .left-box .small-logo {
        height: 60%; }
    body .banner-container .banner-img {
      z-index: -1;
      width: 100%; }
    body .banner-container .logo-tft {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      z-index: 1; }
  body .banner-scroll {
    position: fixed;
    z-index: 2;
    height: 5rem;
    transition: all .4s ease-in-out; }
    body .banner-scroll * {
      transition: all .4s ease-in-out; }
    body .banner-scroll .content-top {
      top: 0;
      padding: 0 10vw 0 10vw;
      position: fixed;
      z-index: 2;
      background: rgba(0, 0, 0, 0.6);
      transition: all .3s ease-in-out; }
      body .banner-scroll .content-top .left-box .small-logo {
        height: 60%; }
    body .banner-scroll .banner-img {
      height: 100%;
      object-fit: cover; }
    body .banner-scroll .logo-tft {
      opacity: 0; }
  body .banner-scroll2 {
    height: 45.83vw;
    position: initial; }
  body .container-gral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    padding: 3rem 0 6rem 0;
    position: relative;
    transition: all .4s ease-in-out; }
    body .container-gral .champions-container {
      width: 100%; }
      body .container-gral .champions-container .filters {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        color: #FFF;
        padding-bottom: 3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        body .container-gral .champions-container .filters .filter-box {
          width: 32%; }
          body .container-gral .champions-container .filters .filter-box span {
            font-size: .9rem;
            display: block;
            margin-bottom: .5rem;
            padding-left: .5rem; }
          body .container-gral .champions-container .filters .filter-box .select-custom {
            height: 4rem;
            background: rgba(255, 255, 255, 0.1);
            width: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 20px 5px 20px 5px; }
            body .container-gral .champions-container .filters .filter-box .select-custom select {
              cursor: pointer;
              height: 4rem;
              -webkit-appearance: none;
              border: none;
              padding: 1rem;
              padding-right: 4rem;
              color: #FFF;
              width: 100%;
              background: none;
              font-family: 'Quicksand', sans-serif;
              font-size: 1.2rem;
              outline: none; }
              body .container-gral .champions-container .filters .filter-box .select-custom select option {
                background: #052637; }
            body .container-gral .champions-container .filters .filter-box .select-custom::before, body .container-gral .champions-container .filters .filter-box .select-custom::after {
              content: '';
              position: absolute;
              right: 0;
              width: 3.7rem;
              height: 4rem;
              z-index: -1;
              top: 0.1px; }
            body .container-gral .champions-container .filters .filter-box .select-custom::before {
              background: linear-gradient(90deg, #1fbabf, #004c98); }
            body .container-gral .champions-container .filters .filter-box .select-custom::after {
              background: url("../img/arrow_down.svg") no-repeat;
              background-position: center;
              background-size: 1rem; }
      body .container-gral .champions-container .filtered-champions {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        body .container-gral .champions-container .filtered-champions * {
          text-shadow: 1px 2px rgba(0, 0, 0, 0.2); }
        body .container-gral .champions-container .filtered-champions .card {
          background: url("../img/tab_champions/vayne.jpg") no-repeat;
          background-size: cover !important;
          background-position-x: center !important;
          width: 250px;
          height: 357px;
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
          display: flex;
          align-items: flex-end;
          margin: 1rem;
          position: relative;
          cursor: pointer;
          transition: all .4s ease-in-out;
          overflow: hidden; }
          body .container-gral .champions-container .filtered-champions .card * {
            font-family: 'Quicksand', sans-serif;
            font-weight: 300; }
          body .container-gral .champions-container .filtered-champions .card:hover {
            transform: scale(1.03); }
            body .container-gral .champions-container .filtered-champions .card:hover::before {
              animation: reflejo .7s; }
            body .container-gral .champions-container .filtered-champions .card:hover .champion-data h2 {
              letter-spacing: 6px; }
          body .container-gral .champions-container .filtered-champions .card::before {
            content: '';
            width: 12rem;
            height: 150%;
            transform: rotate(-45deg);
            position: absolute;
            background: rgba(255, 255, 255, 0.1);
            top: 50%;
            left: -60%; }
          body .container-gral .champions-container .filtered-champions .card .champion-data {
            width: 100%;
            height: 35%;
            color: #FFF;
            padding: 0rem 1rem 1rem;
            position: relative; }
            body .container-gral .champions-container .filtered-champions .card .champion-data h2 {
              position: relative;
              text-align: center;
              margin: 0 auto;
              width: max-content;
              height: 2rem;
              text-transform: uppercase;
              transition: all .4s ease-in-out; }
              body .container-gral .champions-container .filtered-champions .card .champion-data h2::after, body .container-gral .champions-container .filtered-champions .card .champion-data h2::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 1px;
                width: calc(125px - 75%);
                background: #FFF; }
              body .container-gral .champions-container .filtered-champions .card .champion-data h2::before {
                left: 110%; }
              body .container-gral .champions-container .filtered-champions .card .champion-data h2::after {
                right: 110%; }
            body .container-gral .champions-container .filtered-champions .card .champion-data .class-container {
              height: calc(100% - 2rem);
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end; }
              body .container-gral .champions-container .filtered-champions .card .champion-data .class-container .class-box {
                display: flex;
                align-items: center;
                margin-top: 0.5rem;
                height: 34%; }
                body .container-gral .champions-container .filtered-champions .card .champion-data .class-container .class-box img {
                  height: 1.2rem; }
                body .container-gral .champions-container .filtered-champions .card .champion-data .class-container .class-box span {
                  margin-left: .3rem; }
            body .container-gral .champions-container .filtered-champions .card .champion-data .cost {
              position: absolute;
              bottom: 1rem;
              right: 1rem; }
              body .container-gral .champions-container .filtered-champions .card .champion-data .cost img {
                height: 1rem;
                filter: grayscale(0.45);
                opacity: 0.8; }
              body .container-gral .champions-container .filtered-champions .card .champion-data .cost span {
                font-size: 1.5rem;
                margin-left: .3rem;
                font-weight: 400;
                line-height: 1; }
    body .container-gral .objects-container * {
      font-family: 'ABeeZee', sans-serif; }
    body .container-gral .objects-container section {
      width: 50vw;
      border-radius: 1rem;
      background: rgba(0, 0, 0, 0.1);
      max-height: 92vh;
      padding-bottom: 2rem; }
      body .container-gral .objects-container section .items-padre-container {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        border-radius: 5px;
        margin: 0 auto;
        justify-content: space-between; }
        body .container-gral .objects-container section .items-padre-container button {
          border: none;
          outline: none;
          width: 64px;
          height: 64px;
          cursor: pointer;
          border: 2px solid #000;
          background: url("itemPadre/0.png");
          border-radius: 7px;
          margin: .5rem 0;
          color: transparent;
          position: relative;
          overflow: hidden; }
          body .container-gral .objects-container section .items-padre-container button:hover {
            overflow: initial; }
            body .container-gral .objects-container section .items-padre-container button:hover .hover-item {
              opacity: 1;
              animation: hoverUp .2s forwards ease-in-out; }
          body .container-gral .objects-container section .items-padre-container button .hover-item {
            background-color: #586ba2;
            width: 200%;
            height: 100%;
            position: absolute;
            color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: .5rem;
            top: -120%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all .2s ease-in-out; }
            body .container-gral .objects-container section .items-padre-container button .hover-item .name {
              display: block;
              font-size: 0.77rem;
              color: aquamarine; }
            body .container-gral .objects-container section .items-padre-container button .hover-item .desc {
              font-size: 0.6rem; }
            body .container-gral .objects-container section .items-padre-container button .hover-item::before {
              content: '';
              border-style: solid;
              border-width: 6px;
              border-color: transparent #586ba2 #586ba2 transparent;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: rotate(45deg) translateX(-50%); }
        body .container-gral .objects-container section .items-padre-container .button-active {
          box-shadow: 0 0 25px 2px #d28500;
          border: 2px solid #FFEE58;
          transition: all .1s ease-in-out; }
      body .container-gral .objects-container section .box-result {
        display: flex;
        padding: 0 2rem; }
        body .container-gral .objects-container section .box-result .lista-fija,
        body .container-gral .objects-container section .box-result .lista-dinamica {
          margin-top: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          body .container-gral .objects-container section .box-result .lista-fija > div,
          body .container-gral .objects-container section .box-result .lista-dinamica > div {
            position: relative;
            height: 40px;
            width: 40px;
            margin: 1rem 0;
            background: url("../img/tab_objects/undefined.png");
            background-size: cover !important;
            margin-right: 2rem;
            border-radius: 50%;
            border: 1px solid rgba(255, 238, 88, 0.45);
            opacity: .6; }
            body .container-gral .objects-container section .box-result .lista-fija > div::before, body .container-gral .objects-container section .box-result .lista-fija > div::after,
            body .container-gral .objects-container section .box-result .lista-dinamica > div::before,
            body .container-gral .objects-container section .box-result .lista-dinamica > div::after {
              position: absolute;
              top: 50%;
              right: -1.4rem;
              transform: translateY(-50%);
              font-size: 1.2rem;
              opacity: 1;
              color: azure; }
        body .container-gral .objects-container section .box-result .lista-fija > div::before {
          content: '+'; }
        body .container-gral .objects-container section .box-result .lista-dinamica > div::before {
          content: '='; }
        body .container-gral .objects-container section .box-result .items-result-container {
          background: transparent;
          margin-top: 1.5rem;
          width: 100%; }
          body .container-gral .objects-container section .box-result .items-result-container .result {
            background: azure;
            background: transparent;
            background-repeat: no-repeat;
            background-position: left;
            height: 64px;
            margin: 0.5rem 0;
            padding-left: calc(64px + 1rem);
            display: flex;
            align-items: center;
            color: azure;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
            body .container-gral .objects-container section .box-result .items-result-container .result:hover {
              background-color: rgba(0, 0, 0, 0.06) !important;
              transition: ease-in-out .1s all; }
    body .container-gral .developer {
      position: absolute;
      bottom: 1.5rem; }
      body .container-gral .developer span {
        color: rgba(255, 255, 255, 0.3);
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
        font-size: 0.7rem; }
  body .container-gral-scroll {
    padding-top: 8rem; }

@keyframes agitar {
  0% {
    transform: rotate(-12deg); }
  20% {
    transform: rotate(12deg); }
  40% {
    transform: rotate(-7deg); }
  60% {
    transform: rotate(7deg); }
  80% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(3deg); } }
@keyframes hoverUp {
  0% {
    opacity: 0;
    margin-top: 1rem; }
  100% {
    opacity: 1;
    margin-top: 0; } }
@keyframes reflejo {
  100% {
    top: -80%;
    left: 100%;
    opacity: 0; } }
@media (max-width: 1500px) {
  body .banner-container .content-top .left-box .tabs li span {
    font-size: 1.1rem; }
  body .banner-container .logo-tft {
    width: 35vw; }
  body .container-gral .objects-container section {
    width: 80vw;
    padding-top: 1rem;
    overflow: overlay; }
    body .container-gral .objects-container section .items-padre-container button .hover-item {
      bottom: -120%;
      top: initial; }
    body .container-gral .objects-container section .items-padre-container button .hover-item::before {
      bottom: initial;
      top: -1px;
      border-color: #586ba2 transparent transparent #586ba2; } }
@media (max-width: 1300px) {
  body .banner-container .content-top {
    top: .5rem;
    height: 4rem; }
    body .banner-container .content-top .left-box .small-logo {
      height: 65%; }
    body .banner-container .content-top .left-box .tabs li span {
      font-size: 1rem; }
  body .banner-container .content-top-scroll {
    top: 0; }
  body .container-gral .champions-container .filtered-champions .card {
    width: 200px;
    height: 300px; }
    body .container-gral .champions-container .filtered-champions .card .champion-data {
      height: 40%; }
      body .container-gral .champions-container .filtered-champions .card .champion-data h2 {
        font-size: 1.3rem; }
        body .container-gral .champions-container .filtered-champions .card .champion-data h2::before, body .container-gral .champions-container .filtered-champions .card .champion-data h2::after {
          width: calc(100px - 75%); }
      body .container-gral .champions-container .filtered-champions .card .champion-data .class-container .class-box span {
        font-size: 0.9rem; }
      body .container-gral .champions-container .filtered-champions .card .champion-data .class-container .class-box img {
        height: 1rem; }
    body .container-gral .champions-container .filtered-champions .card::before {
      top: 40%;
      left: -45%; } }
@media (max-width: 699px) {
  body .banner-container .content-top {
    position: fixed;
    top: 0;
    padding: 0 1rem;
    height: 3rem; }
    body .banner-container .content-top .left-box {
      width: 100%;
      justify-content: center;
      align-items: baseline;
      padding-top: 0.6rem; }
      body .banner-container .content-top .left-box .small-logo {
        display: none; }
      body .banner-container .content-top .left-box .tabs {
        padding-left: 0;
        margin: 0; }
        body .banner-container .content-top .left-box .tabs li span {
          font-size: .9rem; }
        body .banner-container .content-top .left-box .tabs li::before {
          height: 2rem;
          width: 120%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(31, 167, 197, 0.7);
          opacity: 0; }
        body .banner-container .content-top .left-box .tabs li img {
          display: none; }
        body .banner-container .content-top .left-box .tabs li.tab-active::before {
          opacity: 1;
          width: 120%; }
    body .banner-container .content-top .right-box {
      display: none; }
  body .banner-container .content-top-scroll {
    padding: 0 1rem;
    height: 3rem; }
  body .banner-container .logo-tft {
    left: 12vw; }
  body .container-gral {
    width: 95vw;
    padding: 1rem 0 6rem 0; }
    body .container-gral .champions-container .filters {
      flex-wrap: wrap;
      padding-bottom: 1rem; }
      body .container-gral .champions-container .filters .filter-box {
        width: 100%;
        margin-bottom: 1rem; }
        body .container-gral .champions-container .filters .filter-box .select-custom {
          height: 3.5rem; }
          body .container-gral .champions-container .filters .filter-box .select-custom::before {
            height: 3.5rem; }
          body .container-gral .champions-container .filters .filter-box .select-custom::after {
            height: 3.5rem; }
          body .container-gral .champions-container .filters .filter-box .select-custom select {
            height: 3.5rem; }
    body .container-gral .champions-container .filtered-champions {
      justify-content: space-between; }
      body .container-gral .champions-container .filtered-champions .card {
        height: 260px;
        width: 45.5vw;
        margin: 0 0 4.5vw 0; }
        body .container-gral .champions-container .filtered-champions .card::before {
          top: 80%;
          left: -65%; }
        body .container-gral .champions-container .filtered-champions .card .champion-data {
          height: 45%; }
    body .container-gral .objects-container {
      width: 100%; }
      body .container-gral .objects-container section {
        width: 100%;
        background: transparent;
        padding-bottom: 1rem;
        max-height: initial; }
        body .container-gral .objects-container section .items-padre-container {
          padding: 0;
          justify-content: space-evenly;
          margin-bottom: 0.5rem; }
          body .container-gral .objects-container section .items-padre-container button {
            margin: 0 3px 3px 0;
            width: 16vw;
            height: 16vw;
            background-size: cover !important; }
            body .container-gral .objects-container section .items-padre-container button .hover-item {
              top: initial;
              bottom: -120%;
              z-index: 1;
              width: 8rem;
              height: 4rem;
              display: none; }
        body .container-gral .objects-container section .box-result {
          padding: 0; }
          body .container-gral .objects-container section .box-result .lista-fija,
          body .container-gral .objects-container section .box-result .lista-dinamica {
            margin-top: .5rem; }
            body .container-gral .objects-container section .box-result .lista-fija > div,
            body .container-gral .objects-container section .box-result .lista-dinamica > div {
              margin-right: 5px;
              margin: 0.96rem 0;
              height: 31px;
              width: 31px; }
              body .container-gral .objects-container section .box-result .lista-fija > div::before,
              body .container-gral .objects-container section .box-result .lista-dinamica > div::before {
                content: none; }
          body .container-gral .objects-container section .box-result .items-result-container {
            margin-left: .5rem;
            margin-top: .5rem; }
            body .container-gral .objects-container section .box-result .items-result-container .result {
              font-size: 0.7rem;
              background-size: contain !important;
              height: 54px;
              padding-left: calc(54px + 0.7rem);
              border-bottom: 1px dashed rgba(131, 142, 175, 0.4); } }

/*# sourceMappingURL=style.css.map */
